/* #resultado {
    background-color: beige;
    font-weight: bold;
    font-size: x-large;
} */

/* body {
    position: absolute;
} */

.pantalla {
    background-color: #cccccc;
    border-bottom: 5px solid #5ca86f;
    font: normal bold 10px;
    color: green;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 4px 0px 2px #5ca86f;
}

h3 {
    color: green;
    text-align: center;
    letter-spacing: -2px;
}