#resultado{
    font-weight: bold;
    letter-spacing: 4px;
    background-color: blanchedalmond;
    background-position: center;
    border-radius: 4px;
    box-shadow: 4px 4px 6px blanchedalmond;
    border: 1px solid pink;
}
img{
    width: 25%;
}