h2{
    color: green;
    letter-spacing: 0,7rem;
    font-size: 19px;
}
.post-it{
    width: 15.62rem;
    height: 15rem;
    position: relative;
    background-color: #ffa;
    margin: 30px auto;
    padding: 50px;
    border-radius: 0 0 0 30px/45px;
    box-shadow: inset 0 .40px 40px rgb(0, 0, 0, 0.2),
                inset 0 25px 10px rgb(0, 0, 0, 0.2),
                0 5px 6px 5px rgb(0, 0, 0, 0.2);
    font-family: 'Permanent Market', cursive;
    font-size: 19px;
}